.div-g{
    width: 100%;
    text-align: center;
}


img{
    width: 272px; 
    height: 92px;
}


input{
    width: 580px;
    height: 40px;
    border:1px solid rgba(142, 140, 140, 0.841);
    border-radius: 30px;
    border: none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.072), 0 6px 20px 0 rgba(0, 0, 0, 0.118);
}



button{
    background-color: rgba(243, 242, 242, 0.931);
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;

}
